

{% extends 'headerfooter.html' %}

{% block content %}


  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner coming-soon" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="/static/assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
            <div class="caption">
              <div class="container">
              <div class="row">
                <div class="col-md-5 col-xs-12" >
                  <div class="continer centerIt">

                        <form id="registration" action="/sellerforgotpassword/" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="row">
                            <div class="col-md-12">
                                <fieldset><label for="email" style="color:crimson">enter mail to get reset password link</label>
                                  <input name="email" type="text" class="form-control" id="email" placeholder="Enter E-mail " required="">
                                </fieldset>
                              </div>
                              <fieldset>
                                <button type="submit" id="submit"  class="button" onclick="ss()">click here</button><span style="color: red;">{{errr}}</span>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  </div>
               </div>
          </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->
  <section class="section coming-soon" data-section="section3">

      
        </div>
  </section>     

  {% endblock %}